*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard{
  width: 100vw;
  height: 100vh;
  position: relative;
}


.products-container{
  width: 70vw;
  height: 85vh;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4;
  gap: 20px;
  place-items: center;
  padding: 20px;
}

.img-container{
  width: 120px;
  height: 150px;
  box-shadow: 0px 0px 2px 0.5px rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease;
}

.img-container:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.img-container img{
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

.info-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.img-container button{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}

.img-container button:hover{
  background-color: #ede6e6;
}

.cart{
  width: 50px;
  height: 30px;
  position: absolute;
  top: 5vh;
  right: 5vh;
/*border: 1px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart i{
  transition: 0.3s ease;
}

.cart i:hover{
  cursor: pointer;
  transform: scale(1.25);
}

.dropdown-cart-container{
  width: 30vw;
  height: 40vh;
  border: 1px solid black;
  background-color: #FFFFFF;
  z-index: 99;
  position: absolute;
  right: 40px;
  top: 25px;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.cart-product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid black;
}

.cart-product span:nth-child(2){
  flex: 1;
  text-align: center;
  margin-bottom: 5px;
}

.cart-product button{
  padding: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}