* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;  
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

section{
  width: 70vw;
  height: 80vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.task-container{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task{
  width: 80%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}

.span-1{
  width: 5%;
}

.span-2{
  width: 70%;
}

.span-3{
  width: 25%;
}

#btn-add-task{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.popup-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 9, 9, 0.5);
}

.popup{
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.popup textarea{
  padding: 5px;
  font-size: 18px;
}